#Loading{
    width:100%;
    z-index:6;
    position:absolute;
    background-color:white;
    height:780px;
    display: flex;
    justify-content: center;
    align-items: center;


    img{
        width: 300px;
    }
}